

.back-button {
    margin-left: 3%; 
    margin-top: 1%;
    padding: 0.5%; 
    float: left;
} 

.edit-button {
    margin-left: 0.5%; 
    margin-top: 1.1%;
    padding: 0.4%; 
    float: left;
} 

.movie-details {
    margin-top: 10%;
    text-align: left; 
    padding: 1%;
    background-color: rgb(230, 195, 120);
}

.clear-line {
    clear:both;
}